*.db
*.idea
*__pycache__*
*.pkl
*.log
*.p
*.csv
.ipynb_checkpoints
lessons
Recommendations_with_IBM.html
*.jar
*.xlsx
mini_sparkify_event_data.json
portfolio.json
profile.json
transcript.json
Sparkify.html
*.zip